<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>
     <li class="divider"></li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Admission</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> New Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Admitted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Pending Admissions</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><i class="icon-calculator"></i>Attendence entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="icon-pie-chart"></i> Payment entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="icon-pie-chart"></i> Invoicing</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Reports</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ><i class="icon-star"></i> Attendence Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ><i class="icon-star"></i> Payment Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="icon-star"></i> Student Reports</a>
          </li>
        </ul>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
